.backgroundCarousel {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
  animation: carousel 45s infinite;
}
@keyframes carousel {
  0% {
    background-image: url("../assets/img1.png");
  }
  13% {
    background-image: url("../assets/img2.png");
  }
  26% {
    background-image: url("../assets/img3.png");
  }
  40% {
    background-image: url("../assets/img4.png");
  }
  53% {
    background-image: url("../assets/img5.png");
  }
  65% {
    background-image: url("../assets/img6.png");
  }
  80% {
    background-image: url("../assets/img7.png");
  }
  100% {
    background-image: url("../assets/img1.png");
  }
}

.nav {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 200;
  display: inline;
  cursor: pointer;
  &.textBold {
    font-weight: 500;
  }
  &:hover {
    color: rgb(199, 199, 199);
  }
}

.bigTitle {
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 3px 3px 55px black;
  line-height: 65px;
}

.smallerTitle {
  font-size: 1.85rem;
  font-weight: 400;
  text-shadow: 3px 3px 55px black;
  line-height: 15px;
}